:root {
  --background-primary: #f1f5f9;
  --background-secondary: #e2e8f0;
  --background-primary-blurred: rgba(241, 245, 249, 0.8);

  --shadow: #9ca3af;

  --foreground: #030712;
  --accent: #d1d5db;
}

.dark {
  --background-primary: #22262f;
  --background-secondary: #333947;
  --background-primary-blurred: rgba(34, 38, 47, 0.8);

  --shadow: #4b5563;

  --foreground: #f1f5f9;
  --accent: #374151;
}

html {
  background-color: var(--background-primary);
  color: var(--foreground);
}

body {
  max-width: 100vw;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Inter Variable", sans-serif;
}

main {
  flex: 1 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}