:root {
  --background-primary: #f1f5f9;
  --background-secondary: #e2e8f0;
  --background-alternate: #f1f5f9;

  --shadow: #e8edf3;

  --foreground: #030712;
}

.dark {
  --background-primary: #111827;
  --background-secondary: #1f2937;
  --background-alternate: #334155;

  --shadow: #171f2e;

  --foreground: #f1f5f9;
}

html {
  background-color: var(--background-primary);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 100vw;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

main {
  flex: 1 1;
  padding: 2rem 1rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}