---
import Layout from "../layout/Layout.astro";
---
<Layout page="Home">
	<h2>Home</h2>
	<div class="test"></div>
</Layout>

<style>
.test {
	width: 1000px;
	height: 750px;
	background-color: var(--background-secondary);
}
</style>