---
import { CONNECT_SECTION_ID } from "../constants";
---

<section class="connect" id={CONNECT_SECTION_ID}><h2>Connect</h2></section>

<style>
  .connect {
    height: 50em;
    width: 100%;
    background-color: var(--background-primary);
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
