---
import { PROJECTS_SECTION_ID } from "../constants";
---

<section class="projects" id={PROJECTS_SECTION_ID}><h2>Projects</h2></section>

<style>
  .projects {
    height: 50em;
    width: 100%;
    background-color: var(--background-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
