---

---
<header>
	<nav>
		<ul>
			<li class="navList">
				<a href="/about" class="navItem">About</a>
				<a href="/experience" class="navItem">Experience</a>
				<a href="/projects" class="navItem">Projects</a>
				<a href="/connect" class="navItem">Connect</a>
			</li>
		</ul>
	</nav>
</header>

<style>
	header {
		background-color: var(--background-alternate);
		position: sticky;
		top: 0.5rem;
		padding: 0.5rem 1.5rem;
		border-radius: 0.75rem;
		box-shadow: 0 0.1rem 1rem var(--background-alternate);
	}

	.navList {
		display: flex;
		gap: 2rem;
	}

	.navItem {
		font-size: 1.1rem;
		font-weight: 500;
	}
</style>