---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "@fontsource-variable/inter";
import Inter from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url";
import "../styles/reset.css";
import "../styles/global.css";
import "../styles/animations.css";

const { page } = Astro.props;
---

<html lang="en">
  <head>
    <!-- #region metadata -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={Inter}
      crossorigin="anonymous"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Alex Salmi's personal website and portfolio"
    />
    <meta
      name="keywords"
      content="alex salmi, alexander salmi, salmi, portfolio, software engineer, engineer, web developer, developer, full stack, new york"
    />
    <meta name="author" content="Alex Salmi" />
    <meta property="og:title" content="Alex Salmi" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://asalmi.com" />
    <meta property="og:image" content="https://asalmi.com/preview.jpg" />
    <meta property="og:image:height" content="910" />
    <meta property="og:image:width" content="1900" />
    <meta
      property="og:description"
      content="Alex Salmi's personal website and portfolio"
    />
    <meta property="og:determiner" content="the" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="asalmi.com" />
    <title>Alex Salmi {page ? ` - ${page}` : ""}</title>
    <!-- #endregion -->

    <!-- #region scripts -->
    <!-- Analytics script -->
    <script
      defer
      async
      data-domain="asalmi.com"
      src="/js/script.hash.outbound-links.js"
      data-api="/api/event"></script>
    <!-- Script to set the theme before anything renders -->
    <script is:inline>
      const root = document.querySelector(":root");
      // Get the saved theme from local storage, defaulting to dark mode
      const theme = window.localStorage.getItem("theme") || "dark";

      // Enable dark mode if needed
      if (root && theme === "dark") root.classList.add("dark");
    </script>
    <!-- Import the rest of the scripts in the /scripts folder -->
    <script>
      import "../scripts";
    </script>
    <!-- #endregion -->
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
