---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "@fontsource-variable/inter";
import Inter from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url";
import "../styles/reset.css";
import "../styles/global.css";
import "../styles/animations.css";

const { page } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={Inter}
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Alex Salmi {page ? ` - ${page}` : ""}</title>
    <script>
      import "../scripts";
    </script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
